*
{ margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
#main{
  height: 150%;
  font-family: 'voyage';
  width: 100%;
  background-color: #F3EEE8;
  border-top: 1px solid transparent;
}
#nav
{ z-index: 99;
   position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  margin-top: 40px;
  padding: 0 40px;
  z-index: 99;
  position: relative;
}
h3{
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}
#a{
  height: 330px;
  margin-left: 50%;
  margin-top: 30%;
  transform: translate(-50% , -50%);
}
#nav img{
  position: absolute;
  height: 30%;
  margin-left: 93%;
}
#nav i
{position: absolute;
  margin-left: 50%;
  font-size: 30px;
}
#main > img{
  position: absolute;
  z-index: 2;
  height: 650px;
  left: 25%;
  top: 13%;

}
body::-webkit-scrollbar{
  width: 10px;
}

body::-webkit-scrollbar-thumb{
  background-color: grey;
  border-radius: 100px;
}
#main h1{
  position: absolute;
  z-index: 1;
  left: 28%;
  top: 50%;
  font-family: "voyage";
  font-size: 550px;
  color: pink;
}
#main > p{
  z-index: 3;
  position: absolute;
  top: 108%;
  font-family: 'arial';
  font-size: 40px;
  left: 40%;
  transform: translate(-50% 0);
}
#main span{
  font-family: 'voyage';
}
#about{
  position: relative;
  width: 100%;
  height: 550px;
  background-color:#E3DACD;
}
.in{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 50px;
  width: 25%;
  border-radius: 100px;
  background-color: #E3DACD;
  transform: translate(-50% 0);
  top: -5%;
  left: 39%;
  font-family: 'product sans';
}
.bottom{
  width: 100%;
  height: 1300px;
  background-color: #F3EEE8;
}
.bottom1{
  position: relative;
  height: 50%;
  width: 100%;
}
.int{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 50px;
  width: 25%;
  border-radius: 100px;
  background-color: #E3DACD;
  transform: translate(-50% 0);
  top: -5%;
  left: 39%;
  font-family: 'product sans';
}
.bottom1> img{
  position: absolute;
  top: 30%;
  left: 28%;
  transform: translate(-50% 0);
}
.bottom2{
  position: relative;
  width: 100%;
  height: 50%;
}
.bottom2 img{
  position: absolute;
  left: 10%;
  transform: translate(-50% 0);
}
.neeche{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 1500px;
  background-color: #F3EEE8;
  border-top: 1px solid transparent;
}
.sneeche{
  border-top: 2px solid transparent;
  position:absolute ;
  height: 1900px;
  width: 100%;
  border-radius : 70%;
  background-color:#FFE699;
  margin-top: 250px;
  
}

#box{
   height: 400px;
    width:200px;
   margin-top: -30px;
   margin-left: 50%;
   transform: translate(-50%, 0);
   position: relative;
}
.cards{
  height: 300px;
  width: 205px;
  position: absolute;
  border-radius: 20px;
  transform: translate(-50% ,0);
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
  overflow: hidden;
  -o-transform-origin: 50% 90%;
}
#first{
  margin-left: 40%;
  transform: translate(-50% ,0) rotate(-10deg);
  z-index: 3;
}
#second{
  background-image: url('https://images.ctfassets.net/8b1jz4cf6kyy/6aosNheaRtPUBQRf4RE2fx/48291d8abbe63cccb400c9efa0660fc1/45.png?w=1024&fm=webp&q=92');
  background-size: cover;
  margin-left: 60%;
  transform: translate(-50% , 0) rotate(10deg);
}
#first video{
  width: 135%;
}
#box:hover #first{
  transform: translate(-70% ,0) rotate(-30deg);
}
#box:hover #second{
  transform: translate(-30% ,0) rotate(30deg);
}
#illu{
  margin-top: -70px;
  height: 170px;
  width: 100%;
  font-family: 'voyage';
  font-size: 160px;
  margin-left: 31%;
  font-weight: 500;

}
#crea{
margin-left: 50%;
margin-top: 20px;
transform: translate(-50% , 0);
font-family: 'product sans';
font-size: 15px;
opacity: 1;
text-align: center;
}
/* .copy{
position: relative;
width: 100%;
height: 1200px;
background-color: #F3EEE8;
border-top: 1px solid transparent;
} */
#gola{
  border-top: 2px solid transparent;
  position:absolute ;
  height: 1200px;
  width: 100%;
  border-radius : 100%;
  background-color:white;
  margin-top: -450px;
}
.bottom{
 font-family: 'ogg roman';
}


